<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
</head>
<body>

<div id="global">
    <form th:action="@{/users/create}" th:object="${user}"
          method="post">
        <fieldset>
            <legend>Create new User</legend>
            <p>
                <label for="firstName">User Name: </label>
                <input type="text" id="username" name="username" th:field="*{username}" tabindex="1">
            </p>
            <p>
                <label for="email">Email: </label>
                <input type="text" id="email" name="email" th:field="*{email}" tabindex="1">
            </p>
            <p>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" th:field="*{password}" tabindex="1">
            </p>
            <p>
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" tabindex="1">
            </p>
            <p>
                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" tabindex="2">
            </p>
            <p>
                <label for="lastName">License Number: </label>
                <input type="text" id="licenseNumber" name="licenseNumber" th:field="*{licenseNumber}" tabindex="2">
            </p>
            <div>Address:</div>
            <p>
                <label for="street">Street: </label>
                <input type="text" id="street" name="address.street" th:field="*{address.street}" tabindex="4">
            </p>
            <p>
                <label for="city">City: </label>
                <input type="text" id="city" name="address.city" th:field="*{address.city}" tabindex="5">
            </p>
            <p>
                <label for="state">State: </label>
                <input type="text" id="state" name="address.state" th:field="*{address.state}" tabindex="6">
            </p>
            <p>
                <label for="zip">Zip: </label>
                <input type="text" id="zip" name="address.number" th:field="*{address.zip}" tabindex="7">
            </p>


            <div class="form-group">
                <label>Roles</label>
                <select class="form-control" id="role" name="role">
                    <option th:each="role : ${availableRoles}"
                            th:text="${role}" th:value="${role}">
                    </option>
                </select>
            </div>

            <p id="buttons">
                <input id="reset" type="reset">
                <input id="submit" type="submit" tabindex="8" value="Register">
            </p>
        </fieldset>
    </form>
</div>
</body>
</html>
