<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
    <section>
        <a href="/">Back to Home</a>
    </section>
    <th:block th:insert="fragments/head_crud"></th:block>
    <body class="sb-nav-fixed">
    <th:block th:insert="fragments/navbar :: navbar"></th:block>
    <div id="layoutSidenav">
        <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
        <div id="layoutSidenav_content">
            <main>
    <div id="global">
        <form action="#" th:action="@{/categories/save}" th:object="${category}" method="post">
            <fieldset>
                <legend>Add an category</legend>
                <p>
                <span th:text="${error}">ID</span>
                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input
                        is incorrect</li>
                </ul>
                </p>
                <p>
                    <label for="id"><span th:text="#{category.form.categoryId}">ID: </span></label>
                    <input type="text" id="id" th:field="*{categoryId}" />
                <p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}" th:errorclass="fieldError">Incorrect date</p>
                </p>
                <p>
                    <label for="name"><span th:text="#{category.form.categoryName}">Name: </span></label>
                    <input type="text" id="name" th:field="*{categoryName}" />
                <p th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" th:errorclass="fieldError">Incorrect date</p>
                </p>
                <p>
                    <label for="description"><span th:text="#{category.form.categoryDescription}">Name: </span></label>
                    <input type="text" id="description" th:field="*{categoryDescription}" />
                <p th:if="${#fields.hasErrors('categoryDescription')}" th:errors="*{categoryDescription}" th:errorclass="fieldError">Incorrect date</p>
                </p>
                <p id="buttons">
                    <input id="reset" type="reset" tabindex="4">
                    <input id="submit" type="submit" tabindex="5" value="Add Category">
                </p>
            </fieldset>
        </form>
    </div>
            </main>
            <th:block th:insert="fragments/footer :: footer"></th:block>
        </div>
    </div>
    <th:block th:insert="fragments/scripts"></th:block>
</body>
</html>