<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cateogries</title>
</head>
<body>
<section>
    <a href="/">Back to Home</a>
</section>
<table>
    <thead>
    <tr>
        <th> Category ID </th>
        <th> Category Name </th>
        <th> Category Description </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${categories.empty}">
        <td colspan="2"> No Category Available </td>
    </tr>
    <tr th:each="category : ${categories}">
        <td><span th:text="${category.categoryId}"> Category ID </span></td>
        <td><span th:text="${category.categoryName}"> Category Name </span></td>
        <td><span th:text="${category.categoryDescription}"> Category Description </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>