<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Neptune Auction System</title>
    <link rel = "icon" th:href="@{/images/neptune.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-body">
                                <form method="post" th:action="@{/verification}">
                                    <h3>Enter your verification code</h3>
                                    <div class="form-group">
                                        <input class="form-control py-4" name="verificationCode" placeholder="Enter verification code"
                                               type="text"/>
                                        <input id="verify" class="btn btn-primary" type="submit" value="Verify"/>
                                    </div>
                                </form>

                                <form method="post" th:action="@{/resendVerificationCode}">
<!--                                    <input type="hidden" id="email" name="email" th:value="*{userId}" tabindex="1">-->
                                    <input id="resendvc" class="btn btn-primary" type="submit" value="Resend verification code."/> |
                                    <a class="btn btn-primary" th:href="@{/login}">Back To Login Page</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
