<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-body">

                                <form method="post" th:action="@{/verification}">
                                    <h3>Enter your verification code</h3>
                                    <div class="form-group">
                                        <input class="form-control py-4" name="verificationCode" placeholder="Enter verification code"
                                               type="text"/>
                                        <input id="verify" type="submit" value="Verify"/>
                                    </div>
                                </form>

                                <form method="post" th:action="@{/resendVerificationCode}">
                                    <p>Enter your email below to resend verification code:</p>
                                    <input type="hidden" id="email" name="email" th:value="*{email}" tabindex="1">
                                    <input id="resendvc" type="submit" value="Resend verification code."/>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
