<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav_cus :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Customer</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/'}">Home</a></li>
                    <li class="breadcrumb-item active">Customer</li>
                </ol>
                <div class="">
                    <h3>Product Information</h3>
                    Product Id: <span th:text="${product.productId}"></span>
                    <br/>
                    Product Name: <span th:text="${product.productName}"></span>
                    <br/>
                    Product Description: <span th:text="${product.productDescription}"></span>
                    <br/>
                    <!--                                    <td th:text="${product.imageList}">Edinburgh</td>-->
                    Product Price: <span th:text="${product.productPrice}"></span>
                    <br/>
                    Product Upload Day: <span th:text="${product.uploadDate}"></span>
                </div>
                <div th:each="image : ${images}">


<!--                    <img  th:src="@{'/images/'+${image}}" />-->

                    <img th:src="@{${'/images/' + image.name}}" width="200px" height="200px"/>

                </div>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
</body>
</html>
