<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head_crud"></th:block>
<body class="sb-nav-fixed">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="fragments/sidenav :: sidenav"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Users</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="${'/'}">Home</a></li>
                    <li class="breadcrumb-item active">Customer</li>
                </ol>
                <div class="table-title" sec:authorize="hasAuthority('ADMIN')">
                    <div class="row">
                        <div class="col-sm-9">
                            <h2></h2>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-success" th:href="@{/users/create}"><i class="material-icons">&#xE147;</i>
                                <span>Add User</span></a>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="dataTable"
                                   th:if="${not #lists.isEmpty(products)}" width="100%">
                                <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Product Description</th>
                                    <th>Image</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Product Description</th>
                                    <th>Image</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.productId}">Tiger Nixon</td>
                                    <td th:text="${product.productName}">System Architect</td>
                                    <td th:text="${product.productDescription}">Edinburgh</td>
                                    <td th:text="${product.imageList}">Edinburgh</td>
                                    <td>
                                        <a class="edit" sec:authorize="hasAuthority('ADMIN')"
                                           th:href="@{/users/edit/{username}(username=${user.username})}">
                                            <i class="material-icons" data-toggle="tooltip"
                                               title="Edit">&#xE254;</i></a>
                                        <a class="delete" sec:authorize="hasAuthority('ADMIN')"
                                           th:href="@{/users/delete/{username}(username=${user.username})}">
                                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:insert="fragments/footer :: footer"></th:block>
    </div>
</div>
<th:block th:insert="fragments/scripts"></th:block>
</body>
</html>
